body,
#home{
    height: 100vh;
}

#home{
    background-image: url("slika.jpg");
    background-size: cover;
}
hr{
    width: 5%;               
    background-color:white;
    height: 1px;
}
#text{
    margin-top: 10%;
}

#dugme {
    border-radius: 40px;
}