/* @media (min-width: 0px) { hr{display: block;}}
@media (min-width: 992px) { hr{display: none;}}
@media (min-width: 1200px) { hr{display: none;}} */

#header-img img {
    width: 100%;
    height: 100%;
  }